body {
  padding-top: 50px;
  color: #eee;
  background-color: #23262a;
  background-image: url('../assets/img/twinkle_twinkle.png');
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", sans-serif !important;
}

a {
  color: #b8dae5;
}

a:hover,
a:active,
a:focus {
  color: #00c2ff;
}

img.pull-left {
  margin-right: 6px;
}

img.pull-right {
  margin-left: 6px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

img.bordered {
  padding: 4px;
  border: 1px solid #3a3f46;
}

.container.spaced {
  padding-top: 40px;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-main {
  font-size: 18px;
}

.navbar-ops {
  font-size: 11px;
}

.navbar-nav .active > a {
  border-bottom: 5px solid #00c2ff;
}

.dropdown-menu {
  color: #fff;
  background-color: #23262a;
  border: 1px solid #464c54;
}

.dropdown-menu > li > a {
  color: #fff;
}

footer.signature {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}

.header-brand {
  margin: 50px 0;
}

.cbg {
  padding: 8px 16px;
  margin: 6px;
  background: #23262a;
  border: 1px solid #464c54;
}

.cnt {
  padding: 0 12px;
  margin: 12px 6px;
}

.cbg:before {
  float: right;
  font-size: 10px;
  color: #515862;
  content: 'OPS>>CIES';
}

.blog-abs {
  margin-right: 60px;
  color: #ccc;
}

.blog-footer {
  margin-bottom: 0;
  font-size: 11px;
  color: #aaa;
}

.blog-footer a {
  color: #ccc;
}

.blog-dashboard {
  display: block;
  float: right;
  width: 60px;
  padding: 4px;
  font-size: 10px;
  text-align: center;
  border: 1px solid #116787;
}

.user-thumb {
  min-height: 56px;
  margin-bottom: 6px;
}

.user-thumb .user-name,
.user-thumb .user-rep {
  padding-top: 6px;
  margin: 0;
}

.user-thumb-body {
  display: inline-block;
}

.user-thumb > img {
  width: 56px;
  height: 56px;
  padding: 2px;
  border: 1px solid #464c54;
}

.user-profile .user-dashboard {
  text-align: center;
}

.user-profile .user-dashboard-small {
  font-size: 11px;
  color: #828b97;
}

.this-user {
  text-align: right;
}

.this-user > img {
  width: 60px;
  height: 60px;
  padding: 4px;
  margin-top: 2px;
  border: 1px solid #5d6570;
}

.this-user .user-thumb-body > p,
.this-user .user-thumb-body > h3 {
  padding: 0;
  margin: 0;
}

.question-dashboard {
  display: block;
  float: right;
  width: 140px;
  text-align: center;
}

.question-dashboard .question-votes,
.question-dashboard .question-answers {
  display: inline-block;
  width: 60px;
  padding: 4px;
  margin: 0 4px;
  border: 1px solid #c30000;
}

.question-dashboard .question-votes:after {
  display: block;
  font-size: 10px;
  color: #ccc;
  content: '点评分';
}

.question-dashboard .question-answers:after {
  display: block;
  font-size: 10px;
  color: #ccc;
  content: '条回答';
}

.blog-dashboard .blog-votes,
.question-dashboard .question-votes,
.question-dashboard .question-answers {
  font-size: 32px;
}

.user-thumb .user-rep {
  color: #ccc;
}

.quest-thumb {
  padding: 0 0 2px 8px;
  margin-bottom: 8px;
  border-left: 2px solid #ffbb33;
}

.quest-thumb > h5 {
  margin: 0 0 4px 0;
}

.quest-thumb > p {
  margin: 0;
}

.h-blu {
  padding-bottom: 4px;
  border-bottom: 2px solid #33b5e5;
}

.h-ppl {
  padding-bottom: 4px;
  border-bottom: 2px solid #aa66cc;
}

.h-grn {
  padding-bottom: 4px;
  border-bottom: 2px solid #99cc00;
}

.h-red {
  padding-bottom: 4px;
  border-bottom: 2px solid #ff4444;
}

.h-ylw {
  padding-bottom: 4px;
  border-bottom: 2px solid #ffbb33;
}

.h-gry {
  padding-bottom: 4px;
  border-bottom: 2px solid #515862;
}

.cnt.cnt-blu {
  border-left: 2px solid #33b5e5;
}

.cnt.cnt-red {
  border-left: 2px solid #ff4444;
}

#cies-brand-logo {
  max-height: 100px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-image: url('../assets/img/twinkle_twinkle_@2X.png');
  }
}