<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{#isnt basename "index"}}{{/isnt}}index.html"><img src="./assets/img/nav-logo-40.png" alt="CIES logo"></a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-main">
        <li{{#is basename "index"}} class="active"{{/is}}>
          <a href="{{#isnt basename "index"}}{{/isnt}}index.html">主页</a>
        </li>
        <li{{#is basename "blog"}} class="active"{{/is}}>
          <a href="{{#is basename "index"}}{{/is}}blog.html">博客</a>
        </li>
        <li{{#is basename "questions"}} class="active"{{/is}}>
          <a href="{{#is basename "index"}}{{/is}}questions.html">问答</a>
        </li>
        <li{{#is basename "quests"}} class="active"{{/is}}>
          <a href="{{#is basename "index"}}{{/is}}quests.html">任务</a>
        </li>
        <li{{#is basename "achievements"}} class="active"{{/is}}>
          <a href="{{#is basename "index"}}{{/is}}achievements.html">成就</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
