<div class="quest-thumb">
  <h5 class="quest-title"><a href="#{{title}}">{{title}}</a></h5>
  <p class="quest-rep">奖励{{award}}点声望</p>
  <p class="quest-tags">
    {{#each tags}}
      <a href="#" class="label label-default">{{this}}</a>
    {{/each}}
  </p>
</div>