<div class="user-thumb">
  <img src="assets/img/profile-img/{{img_file}}" class="pull-left" alt="">
  <div class="user-thumb-body">
    <h5 class="user-name"><a href="#{{name}}">{{name}}</a></h5>
    <p class="user-rep">{{reputation}} rep</p>
  </div>
</div>