@chn-font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", sans-serif;

@link-def:   #b8dae5;
@cbg-grey:   #23262a;
@ing-blue:   #00c2ff;
@blu:        #33b5e5;
@red:        #ff4444;
@grn:        #99cc00;
@ylw:        #ffbb33;
@ppl:        #aa66cc;

@import "bootstrap-markdown.less";

body {
  padding-top: 50px;
  background-image: url('../assets/img/twinkle_twinkle.png');
  background-color: @cbg-grey;
  color: #eee;
}

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
input,
button,
select,
textarea {
  font-family: @chn-font-family !important;
}

a {
  color: @link-def;
}

a:hover, a:active, a:focus {
  color: @ing-blue;
}

img.pull-left {
  margin-right: 6px;
}

img.pull-right {
  margin-left: 6px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

img.bordered {
  padding: 4px;
  border: 1px solid lighten(@cbg-grey, 30%);
}

hr {
  border-color: lighten(@cbg-grey, 15%);
}

blockquote p {
  font-size: 14px;
}

pre {
  border: 1px solid lighten(@cbg-grey, 30%);
}

code, pre {
  color: #fff;
  background: lighten(@cbg-grey, 15%);
}

.container.spaced {
  padding-top: 40px;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-main {
  font-size: 18px;
}

.navbar-nav .active > a {
  border-bottom: 5px solid @ing-blue;
}

.dropdown-menu {
  color: #fff;
  background-color: @cbg-grey;
  border: 1px solid lighten(@cbg-grey, 15%);
}

.dropdown-menu > li > a {
  color: #fff;
}

footer.signature {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}

.header-brand {
  margin: 50px 0;
}

.cbg {
  position: relative;
  margin: 6px;
  padding: 8px 16px;
  border: 1px solid lighten(@cbg-grey, 15%);
  background: @cbg-grey;
}

.cnt {
  margin: 12px 6px;
  padding: 0px 12px;
}

.cnt.large {
  margin: 24px 12px;
  padding: 0 24px;
}

.cbg:before {
  position: absolute;
  top: 6px;
  right: 6px;
  content: 'OPS>>CIES';
  float: right;
  color: lighten(@cbg-grey, 20%);;
  font-size: 10px;
}

.blog-abs{
  margin-right: 60px;
  color: #ccc;
}

.blog-footer {
  font-size: 11px;
  color: #aaa;
  margin-bottom: 0px;
}

.blog-footer a{
  color: #ccc;
}

.blog-dashboard {
  display: block;
  float: right;
  width: 60px;
  padding: 4px;
  font-size: 10px;
  text-align: center;
  border: 1px solid darken(@blu, 25%);
}

.user-thumb {
  min-height: 56px;
  margin-bottom: 6px;
}

.user-thumb .user-name,
.user-thumb .user-rep {
  margin: 0;
  padding-top: 6px;
}

.user-thumb-body {
  display: inline-block;
}

.user-thumb > img {
  width: 56px;
  height: 56px;
  padding: 2px;
  border: 1px solid lighten(@cbg-grey, 15%);
}

.user-profile .user-dashboard {
  text-align: center;
}

.user-profile .user-dashboard-small {
  font-size: 11px;
  color: lighten(@cbg-grey, 40%)
}

.this-user {
  text-align: right;
}

.this-user > img {
  width: 60px;
  height: 60px;
  padding: 4px;
  margin-top: 2px;
  border: 1px solid lighten(@cbg-grey, 25%);
}

.this-user .user-thumb-body > p,
.this-user .user-thumb-body > h3{
  padding: 0;
  margin: 0;
}

.question-dashboard {
  display: block;
  float: right;
  width: 140px;
  text-align: center;
}

.question-dashboard .question-votes,
.question-dashboard .question-answers {
  display: inline-block;
  width: 60px;
  margin: 0 4px;
  padding: 4px;
  border: 1px solid darken(@red, 25%);
}

.question-dashboard .question-votes:after {
  content: '点评分';
  display: block;
  font-size: 10px;
  color: #ccc;
}

.question-dashboard .question-answers:after {
  content: '条回答';
  display: block;
  font-size: 10px;
  color: #ccc;
}

.blog-dashboard .blog-votes,
.question-dashboard .question-votes,
.question-dashboard .question-answers {
  font-size: 32px;
}

.user-thumb .user-rep{
  color: #ccc;
}

.quest-thumb {
  padding: 0 0 2px 8px;
  margin-bottom: 8px;
  border-left: 2px solid @ylw;
}

.quest-thumb > h5 {
  margin: 0 0 4px 0;
}

.quest-thumb > p {
  margin: 0;
}

.h-blu {
  padding-bottom: 4px;
  border-bottom: 2px solid @blu;
}

.h-ppl {
  padding-bottom: 4px;
  border-bottom: 2px solid @ppl;
}

.h-grn {
  padding-bottom: 4px;
  border-bottom: 2px solid @grn;
}
.h-red {
  padding-bottom: 4px;
  border-bottom: 2px solid @red;
}
.h-ylw {
  padding-bottom: 4px;
  border-bottom: 2px solid @ylw;
}
.h-gry {
  padding-bottom: 4px;
  border-bottom: 2px solid lighten(@cbg-grey, 20%);
}

.cnt.cnt-blu {
  border-left: 2px solid @blu;
}

.cnt.cnt-red {
  border-left: 2px solid @red;
}

#cies-brand-logo {
  max-height: 100px;
}

.form-large {
  margin: 40px 20px;
  padding: 20px 0px;
}

.spec-icons {
  padding-left: 0;
  list-style: none;
}

.spec-icons > li.active > .spec-select{
  color: #fff;
  border-color: lighten(@cbg-grey, 30%);
  background: lighten(@cbg-grey, 5%);
}

.spec-select {
  display: block;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
}

.spec-details .cbg {
  padding-top: 26px;
  border-color: lighten(@cbg-grey, 25%);
  text-align: center;
}

.blog-content img {
  padding: 4px;
  border: 1px solid lighten(@cbg-grey, 25%);
}

.blog-comment-entry,
.blog-new-comment {
  min-height: 74px;
}

.blog-comment-entry > h5 {
  margin-top: 2px;
}

.blog-comment-entry > img ,
.blog-new-comment > img {
  float: left;
  padding: 4px;
  width: 56px;
  height: 56px;
  margin-right: 8px;
  border: 1px solid lighten(@cbg-grey, 25%);
}

.blog-comment-body {
  margin-left: 64px;
}

.blog-comment-options {
  float: right;
  margin-left: 8px;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.blog-comment-entry:hover > .blog-comment-options {
  opacity: 1;
}

.blop-new-comment-send {
  font-size: 24px;
}

.blog-new-comment-input {
  display: block;
  margin: 0 66px;
  padding-right: 100px;
  width: 100%;
}

.blog-new-comment-input > textarea {
  min-height: 56px;
  max-width: 100%;
}

.blog-star-toggle {
  padding: 6px 8px 2px 8px;
  font-size: 17px;
}

.blog-star-toggle > .glyphicon:before {
  content: "\e007";
}

.blog-star-toggle.active > .glyphicon:before {
  content: "\e006";
}

.blog-tag-select {
  margin-bottom: 4px;
}

.blog-tags-active > .btn-group,
.blog-tags-active > .input-group {
  margin-bottom: 8px;
}

.hint {
  color: lighten(@cbg-grey, 35%);
  font-size: 11px;
}

.hint > a {
  color: lighten(@cbg-grey, 50%);
}

.hint > a:hover, 
.hint > a:active {
  color: lighten(@blu, 10%);
}

.hint:before {
  content: '>> ';
  color: lighten(@cbg-grey, 50%);
}

.float-msg {
  display: none;
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1999;
}

.float-msg.active {
  display: block;
}

.float-msg > .alert {
  display: inline-block;
  padding: 8px;
  margin: 0;
}

.float-msg > .alert a {
  color: @cbg-grey;
}

.modal-content {
  border: 1px solid lighten(@cbg-grey, 15%);
  background-color: @cbg-grey;
}

.modal-header,
.modal-footer {
  border-color: lighten(@cbg-grey, 25%);
}

.modal-header .close {
  color: #fff;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-image: url('../assets/img/twinkle_twinkle_@2X.png');
  }
}

@media (min-width: 992px) {
  .blog-tags,
  .lg-pull-right {
    float: right;
  }
}