---
title: 完善信息
---
<div class="container spaced">
  <h1>完善你的个人信息</h1>
  <div class="row">
    <h2>选择你的专精</h2>
    <div class="col-sm-4">
      <a href="#spec-intro-web" data-toggle="tab" class="cbg spec-select">
          <h1><span class="glyphicon glyphicon-hdd"></span></h1>
          <p>Web后台专精</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="#spec-intro-android" data-toggle="tab" class="cbg spec-select">
          <h1><span class="glyphicon glyphicon-phone"></span></h1>
          <p>Android专精</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="#spec-intro-html" data-toggle="tab" class="cbg spec-select">
          <h1><span class="glyphicon glyphicon-fire"></span></h1>
          <p>Web前端专精</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="#spec-intro-design" data-toggle="tab" class="cbg spec-select">
          <h1><span class="glyphicon glyphicon-pencil"></span></h1>
          <p>产品设计专精</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="cbg spec-select">
          <h1><span class="glyphicon glyphicon-globe"></span></h1>
          <p>活动策划专精</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="#spec-intro-planning" data-toggle="tab" class="cbg spec-select">
          <h1><span class="glyphicon glyphicon-refresh"></span></h1>
          <p>回收XMP专精</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="tab-content">
      <div class="tab-pane active"></div>
      <div class="tab-pane"></div>
      <div class="tab-pane"></div>
      <div class="tab-pane"></div>
      <div class="tab-pane"></div>
      <div class="tab-pane"></div>
    </div>
  </div>
</div>