---
title: Markdown 帮助
---
<div class="container spaced">
  <div class="row">
    <div class="col-md-12">
      <div class="cbg">
        {{#markdown}}
# Markdown 帮助

不知道为什么该用Markdown写作？[点击这里](http://jianshu.io/p/qqGjLN)

## 标题

这是最为常用的格式，在平时常用的的文本编辑器中大多是这样实现的：输入文本、选中文本、设置标题格式。

而在 Markdown 中，你只需要在文本前面加上 # 即可，同理、你还可以增加二级标题、三级标题、四级标题、五级标题和六级标题，总共六级，只需要增加  # 即可，标题字号相应降低。例如：

    # 一级标题
    ## 二级标题
    ### 三级标题
    #### 四级标题
    ##### 五级标题
    ###### 六级标题

> 注：`#` 和「一级标题」之间建议保留一个字符的空格，这是最标准的 Markdown 写法。

标题效果：

# 一级标题

## 二级标题

### 三级标题

#### 四级标题

##### 五级标题

###### 六级标题

## 列表

列表格式也很常用，在 Markdown 中，你只需要在文字前面加上 `-` 就可以了，例如：

    - 文本1
    - 文本2
    - 文本3

如果你希望有序列表，也可以在文字前面加上 `0.` 就可以了，例如：

    0. 文本1
    0. 文本2
    0. 文本3

> 注：`-`、`0.` 和文本之间要保留一个字符的空格。

列表效果如下：

- 文本1
- 文本2
- 文本3

0. 文本1
0. 文本2
0. 文本3


## 链接和图片

在 Markdown 中，插入链接不需要其他按钮，你只需要使用 `[显示文本](链接地址)` 这样的语法即可，例如：

`[Text](http://static.ssiops.org/sd)`

在 Markdown 中，插入图片不需要其他按钮，你只需要使用 `![图片描述](图片链接地址)` 这样的语法即可，例如：

`![alt](http://sfeisystems.net/img/ico/apple-touch-icon-144-precomposed.png)`

> 注：插入图片的语法和链接的语法很像，只是前面多了一个 `!`。

> 注2：插入图片是一般建议填上图片描述，这样才符合W3C的HTML规范。

效果：

[Text](http://static.ssiops.org/sd)

![alt](http://sfeisystems.net/img/ico/apple-touch-icon-144-precomposed.png)

## 引用

在我们写作的时候经常需要引用他人的文字，这个时候引用这个格式就很有必要了，在 Markdown 中，你只需要在你希望引用的文字前面加上 > 就好了，例如：

    > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatibus expedita consequuntur aut cumque officia eveniet voluptatum earum ullam veniam temporibus laborum excepturi possimus ea molestias nemo soluta sit labore!

> 注：`>` 和文本之间要保留一个字符的空格。

最终显示的就是：

> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatibus expedita consequuntur aut cumque officia eveniet voluptatum earum ullam veniam temporibus laborum excepturi possimus ea molestias nemo soluta sit labore!

## 粗体和斜体

Markdown 的粗体和斜体也非常简单，用 `**` 包含一段文本就是粗体的语法，用一个 `_` 包含一段文本就是斜体的语法。例如：

    **Lorem** ipsum _dolor_ sit amet, **consectetur** adipisicing _elit_. Voluptas illo accusamus similique eum tenetur molestiae eveniet libero numquam consectetur magnam quo sapiente eius minus ratione dicta reiciendis quia adipisci. Aspernatur.

显示的就是：

**Lorem** ipsum _dolor_ sit amet, **consectetur** adipisicing _elit_. Voluptas illo accusamus similique eum tenetur molestiae eveniet libero numquam consectetur magnam quo sapiente eius minus ratione dicta reiciendis quia adipisci. Aspernatur.

## 代码和代码段

如果要在一行文字中显示一段代码，可以使用 “ ` ” 标记。（通常在键盘上1按键的左侧）

显示效果就像`这样`。

要使用代码段，可以使用这样的标记：

    ```
    $ sudo rm -rf ~/*
    $ sudo rm -rf /*
    ```

显示效果：

```
$ sudo rm -rf ~/*
$ sudo rm -rf /*
```

> 注：任何时候不要在shell下运行上面的指令，造成的任何后果网站开发者概不负责。

        {{/markdown}}
      </div>
    </div>
  </div>
</div>