<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}} - C.I.E.S.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{pkg.description}}">
    <meta name="author" content="{{pkg.author}}">

    <link href="./css/bootstrap{{#if production}}.min{{/if}}.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./assets/js/html5shiv.js"></script>
      <script src="./assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="./assets/ico/favicon.png">

    <!-- Place anything custom after this. -->
  </head>
  <body>
    <!-- Load js here for greater good, and for some scripts which require jQuery in pages -->
    <script src="./assets/js/jquery{{#if production}}.min{{/if}}.js"></script>
    <script src="./assets/js/application.cookie.js"></script>
    <script src="./assets/js/jquery.cookie.js"></script>
    <script src="./js/bootstrap{{#if production}}.min{{/if}}.js"></script>
    <script src="./js/application.js"></script>

    <div class="float-msg"></div>

    {{> nav }}

    {{> body }}

    {{> footer }}

    <div id="modal-login" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">登录</h4>
          </div>
          <div class="modal-body form-horizontal">
            {{#parseJSON '{"id": "cies_email", "label": "电子邮箱", "horizontal": true}'}}
              {{> form-group }}
            {{/parseJSON}}

            {{#parseJSON '{"id": "cies_password", "type": "password", "label": "密码", "horizontal": true}'}}
              {{> form-group }}
            {{/parseJSON}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary modal-login-submit" data-loading-text="登录中…" data-complete-text="成功！">登录</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
  </body>
</html>

<!-- Prepare to die in agony for the glory of the Sierra Empire! -->
<!--  Designed and developed by Sierra Six of SFEI Systems Inc.  -->
<!--                     akasfei@gmail.com                       -->